body{
    background-color: #557A95;
    text-align: center;
}

#intro{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    margin-top: 30px;
    color: #FCDE46 ;
    margin-bottom: 0px;
}

#main-box{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #D6D6D6;
    border-radius: 35px;
    padding-bottom: 5px;
}

#question{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #5D5C61 ;
    font-weight: 300;

}

input{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#weights{
    -webkit-appearance: none;
    margin-top: 30px;
    height: 45px;
    font-size: 36px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#submit{
    -webkit-appearance: none;
    margin-top: 30px;
    height: 40px;
    font-size: 24px;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

#answer{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    background-color: #7395AE ;
    border-radius: 35px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 0;
}

#calc{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#info{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px){
    #intro{
        font-size: 48px;
    }
    #main-box{
        width: 600px;
        border-radius: 20px;
    }
    #question{
        font-size: 36px;
    }
    input{
        width: 300px;
    }
    #answer{
        width: 600px;
        border-radius: 20px;
        font-size: 36px;
    }
}

@media only screen and (max-width: 600px){
    #intro{
        margin-top: 10px;
        font-size: 42px;
    }
    #main-box{
        width: 400px;
        border-radius: 20px;
        
    }
    #question{
        font-size: 30px;
    }
    input{
        width: 200px;
    }
    #weights{
        height: 40px;
        font-size: 30px;
        margin-top: 20px;
    }
    #answer{
        width: 400px;
        font-size: 30px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 450px){
    #intro{
        margin-top: 10px;
        font-size: 30px;
    }
    #main-box{
        width: 250px;
        border-radius: 15px;
    }
    #question{
        font-size: 24px;
    }
    #submit{
        font-size: 20px;
    }
    input{
        width: 125px;
    }
    #answer{
        width: 250px;
        font-size: 24px;
        border-radius: 15px;
    }
    #info{
        width: 245px;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}